@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
	transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	color: #f13024;
}

@layer base {
	body {
		@apply bg-lightPrimary text-slate-800 dark:bg-secondary dark:text-white transition-colors duration-300 overflow-x-hidden leading-relaxed;
	}
	.page {
		@apply w-full min-h-screen flex flex-col;
	}
	.h1 {
		@apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold text-slate-900 dark:text-white;
	}
	.h2 {
		@apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold text-slate-900 dark:text-white;
	}
	p {
		@apply leading-[1.8] text-slate-600 dark:text-white/60 font-light;
	}
	.btn,
	.input {
		@apply h-[52px];
	}
	.input {
		@apply w-full h-[52px] rounded-lg pl-6;
	}
	.input,
	.textarea {
		@apply bg-lightSecondary/50 dark:bg-transparent text-slate-800 dark:text-white outline-none focus:ring-1 focus:ring-accent border border-slate-300 dark:border-white/20 placeholder:text-slate-400 placeholder:dark:text-white/30 placeholder:font-light transition-all;
	}
	.textarea {
		@apply w-full h-[180px] p-6 rounded-lg resize-none;
	}
}
